.dropdown {
  width: fit-content;
  background-color: transparent;
  border: var(--border);
  border-radius: 0.5rem;
  padding-top: 1rem;
  position: absolute;
  z-index: 20;
  left: 50%;
  transform: translateX(-50%);
}
