.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap-sm);
  background-color: transparent;
  border: none;
  color: var(--white);
  text-transform: uppercase;
  font-size: 16px;
  padding: 0.5rem 0.4rem 0.25rem 0.4rem;
  border-radius: var(--radius);
  z-index: 10;
  box-sizing: border-box;
  border: 2px solid transparent;
  margin-left: 9.2rem;
  cursor: pointer;
}

.button:hover {
  background-color: var(--hover-color);
}

.active {
  border-color: var(--border-color);
  background-color: var(--hover-color);
}

.text {
  padding-bottom: 0.1rem;
}
