.button {
  display: flex;
  gap: 0.5rem;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 20px;
  padding: 0.5rem 0.8rem;
  z-index: 10;
  
  & .active {
    border: 2px solid #4a494a;
    background-color: #3a383a;
  }
}
.button:hover {
  background-color: #3a383a;
  border-radius: 0.5rem;
}
