.searchBar {
  display: flex;
  gap: var(--gap-sm);
  margin-bottom: 1rem;
  font-size: 18px;
  padding: 0 1rem 1rem 1rem;
  border-bottom: var(--border);

  & input {
    background-color: transparent;
    border: none;
    color: var(--white);
    outline: none;
    padding: 0;
  }
}
