.radio {
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  gap: var(--gap-sm);
  border-radius: var(--radius);
  cursor: pointer;

  & input {
    display: none;
  }
}

.active {
  background-color: var(--hover-color);
  font-weight: 600;
}

.radio:hover {
  background-color: var(--hover-color);
}
